* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: #1f024c;
}

.character-containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
